*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     font-family: "Open Sans", sans-serif;
   background-color: grey;
}
.seachBox{
    padding: 10px;
}
.height{
    height: 35px;
    width: 200px;
    border-radius: 10px;
}

.searchBox{
    margin-top: 20px;
    margin-left: 20px;
}

.box{
    background-color: white;
      width: 300px;
     border-radius: 25px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
}

.text{
    background-color: blue;
    border-radius: 10px;
    width: 100%;
    height: 25px;

}

input{
    padding: 10px 20px;
    border-radius: 10px;
}
.products{




}
.hello{
    width: 100px;
    display: flex;
    justify-content: center;
    gap: 12px;
}
.text{
    display: flex
    
}